# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# VS Code / PyCharm / editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Environments
.env
.venv/
env/
venv/

# Streamlit app logs
*.log

# Excel temp files
~$*
